@import './base.css';
@import "tailwindcss";
@plugin "daisyui"  {
  themes: light --default, dark --prefersdark, cupcake;
}

#app {
  max-width: 1280px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(224, 147, 4);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(43, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    max-width: 1280px;
    font-weight: normal;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
